export(DMPalette)
export(DMlatticeOptions)
export(HDIofMCMC)
export(RemoveNAColumns)
export(RemoveNARows)
export(getContrasts)
export(ggkm)
export(packet.panel.bycolumn)
export(pairsdf)
export(pal)
export(readContrasts)
export(rmlike)
export(safe.dir.create)
export(survtable)
import(RColorBrewer)
import(ggplot2)
import(lattice)
import(stringr)
